<div id="wrapper">

  <header id="header">
			<h1>濱村会計事務所</h1>
      <!-- ロゴ -->
		<div class="logo">
			<!--<a href="index.html"><img src="images/logo.png" width="60" height="60" alt="Sample site" /><p>濱村会計事務所<span>お悩み解決します</span></p></a>-->
			<%= link_to root_path, target: "_blank" do %>
			<%= image_tag 'top/logo.png', :size => '60x60', :alt => 'Sample site' %><p>濱村会計事務所<span>お悩み解決します</span></p>
			<% end %>
		</div>
		<!-- / ロゴ -->
		<!-- 電話番号+受付時間 -->
		<div class="info">
			<p class="tel"><span>電話:</span> 03-5717-9301</p>
			<p class="open">受付時間: 平日 AM 10:00 〜 PM 19:00</p>
		</div>
		<!-- / 電話番号+受付時間 -->
	</header>

	<!-- メインナビゲーション -->
  <nav id="mainNav">
  	<a class="menu" id="menu"><span>MENU</span></a>
		<div class="panel">   
    	<ul>
    	<!--	<li><a href="index.html"><strong>トップページ</strong><span>Top</span></a></li> -->
    		<li>
    			<%= link_to root_path, target: "_blank" do %>
					<strong>トップページ</strong><span>Top</span>
					<% end %>
    		</li>
			<!--	<li><a href="subpage.html"><strong>サービス概要</strong><span>Service</span></a></li> -->
			<li>
    			<%= link_to service_path, target: "_blank" do %>
					<strong>サービス概要</strong><span>Service</span>
					<% end %>
    		</li>
				<!-- <li><a href="subpage.html"><strong>弊社の取り組み</strong><span>Approach</span></a></li> -->
				<li>
    			<%= link_to approach_path, target: "_blank" do %>
					<strong>弊社の取り込み</strong><span>Approach</span>
					<% end %>
    		</li>
			<!--	<li><a href="subpage.html"><strong>会社情報</strong><span>Company</span></a></li> -->
			<li>
    			<%= link_to company_path, target: "_blank" do %>
					<strong>会社情報</strong><span>Company</span>
					<% end %>
    		</li>
    		<!--	<li><a href="goaisatu.html"><strong>ごあいさつ</strong><span>Greeting</span></a></li> -->
			<li>
    			<%= link_to reward_path, target: "_blank" do %>
					<strong>報酬規定</strong><span>Reward</span>
					<% end %>
    		</li>
    		<li>
    			<%= link_to representative_path, target: "_blank" do %>
					<strong>代表のご挨拶</strong><span>Representative</span>
					<% end %>
    		</li>
				<!-- <li class="last"><a href="subpage.html"><strong>お問い合わせ</strong><span>Contact</span></a></li> -->
				<li class="last">
    			<%= link_to contact_path, target: "_blank" do %>
					<strong>お問い合わせ</strong><span>Contact</span>
					<% end %>
    		</li>
			</ul>   
    </div>
  </nav>
  <!-- / メインナビゲーション -->
  
  <!-- メイン画像 -->
	<div id="mainBanner">
		<!--<img src="images/mori6.jpg" alt="">-->
		<%= image_tag 'top/mori6.jpg' %>
        <div class="slogan">
			<h2>税理士事務所</h2>
			<p>濱村会計事務所では相続をスムーズにこなします。<br>相手のことを考える企業を目指しています。</p>
		</div>
	</div>
	<!-- / メイン画像 -->

  <!-- 3カラム -->
  <section class="gridWrapper">
      <article class="grid">
        <div class="box">
         <!-- <img src="images/top_m1.jpg" width="260" height="113" alt=""> -->
         <%= image_tag 'top/top_m1.jpg', :size => '260x113' %>
          <h3>相続について</h3>
          <p>相続のご相談はこのリンクをクリックしてください</p>
          <p class="readmore">
          	
          	<!--<a href="subpage.html">詳細を確認する</a>-->
          	<%= link_to '詳細を確認する', index_path %>
          	</p>
        </div>
      </article>
      <article class="grid">
        <div class="box">
       <!-- <img src="images/top_m2.jpg" width="260" height="113" alt=""> -->
       <%= image_tag 'top/top_m2.jpg', :size => '260x113' %>
          <h3>無料相談</h3>
          <p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
          <p class="readmore">
          	
          	<!--<a href="subpage.html">詳細を確認する</a>-->
          	<%= link_to '詳細を確認する', consultation_path %>
          	</p>
        </div>
      </article>
      <article class="grid">
        <div class="box">
         <!-- <img src="images/top_m3.jpg" width="260" height="113" alt=""> -->
         <%= image_tag 'top/top_m3.jpg', :size => '260x113' %>
          <h3>他社との違い</h3>
          <p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
          <p class="readmore">
          	
          	<!--<a href="subpage.html">詳細を確認する</a>-->
          	<%= link_to '詳細を確認する', root_path %>
          	</p>
        </div>
      </article>
	</section>
	<!-- / 3カラム -->
 
	<!-- フッター -->
	<footer id="footer">
		<!-- 左側 -->
		<div id="info" class="grid">
			<!-- ロゴ -->
			<div class="logo">
			<!--<a href="index.html"><img src="images/logo.png" width="45" height="45" alt="Sample site" /><p>濱村会計事務所<span>お悩み解決します</span></p></a>-->
			<%= link_to root_path, target: "_blank" do %>
			<%= image_tag 'top/logo.png', :size => '45x45', :alt => 'Sample site' %><p>濱村会計事務所<span>お悩み解決します</span></p>
			<% end %>
		</div>
			<!-- / ロゴ -->
			<!-- 電話番号+受付時間 -->
			<div class="info">
				<p class="tel"><span>電話:</span> 03-5717-9301</p>
				<p class="open">受付時間: 平日 AM 10:00 〜 PM 19:00</p>
			</div>
			<!-- / 電話番号+受付時間 -->
		</div>  
		<!-- / 左側 -->
		<!-- 右側 ナビゲーション -->
	<!--	<ul class="footnav">
			<li><a href="subpage.html">税務・相続</a></li>
			<li><a href="subpage.html">無料相談</a></li>
			<li><a href="subpage.html">サービス概要</a></li>
			<li><a href="subpage.html">会社情報</a></li>
			<li><a href="subpage.html">お問い合わせ</a></li>
            <li><a href="subpage.html">求人</a></li>
			<li><a href="subpage.html">サイトマップ</a></li>
		</ul> -->
		<!-- / 右側 ナビゲーション -->
	</footer>
	<!-- / フッター -->
	<address>Copyright(c) 2013 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
