<div id="wrapper">

  <header id="header">
			<h1>濱村会計事務所</h1>
      <!-- ロゴ -->
		<div class="logo">
			<!--<a href="index.html"><img src="images/logo.png" width="60" height="60" alt="Sample site" /><p>濱村会計事務所<span>お悩み解決します</span></p></a>-->
			<%= link_to root_path, target: "_blank" do %>
			<%= image_tag 'top/logo.png', :size => '60x60', :alt => 'Sample site' %><p>濱村会計事務所<span>お悩み解決します</span></p>
			<% end %>
		</div>
		<!-- / ロゴ -->
		<!-- 電話番号+受付時間 -->
		<div class="info">
			<p class="tel"><span>電話:</span> 03-5717-9301</p>
			<p class="open">受付時間: 平日 AM 10:00 〜 PM 19:00</p>
		</div>
		<!-- / 電話番号+受付時間 -->
	</header>

	<!-- メインナビゲーション -->
  <nav id="mainNav">
  	<a class="menu" id="menu"><span>MENU</span></a>
		<div class="panel">   
    	<ul>
    	<!--	<li><a href="index.html"><strong>トップページ</strong><span>Top</span></a></li> -->
    			<li>
    			<%= link_to root_path, target: "_blank" do %>
					<strong>トップページ</strong><span>Top</span>
					<% end %>
    		</li>
			<!--	<li><a href="subpage.html"><strong>サービス概要</strong><span>Service</span></a></li> -->
			<li>
    			<%= link_to service_path, target: "_blank" do %>
					<strong>サービス概要</strong><span>Service</span>
					<% end %>
    		</li>
				<!-- <li><a href="subpage.html"><strong>弊社の取り組み</strong><span>Approach</span></a></li> -->
				<li>
    			<%= link_to approach_path, target: "_blank" do %>
					<strong>弊社の取り込み</strong><span>Approach</span>
					<% end %>
    		</li>
			<!--	<li><a href="subpage.html"><strong>会社情報</strong><span>Company</span></a></li> -->
			<li>
    			<%= link_to company_path, target: "_blank" do %>
					<strong>会社情報</strong><span>Company</span>
					<% end %>
    		</li>
    		<!--	<li><a href="goaisatu.html"><strong>ごあいさつ</strong><span>Greeting</span></a></li> -->
			<li>
    			<%= link_to reward_path, target: "_blank" do %>
					<strong>報酬規定</strong><span>Reward</span>
					<% end %>
    		</li>
    		<li>
    			<%= link_to representative_path, target: "_blank" do %>
					<strong>代表のご挨拶</strong><span>Representative</span>
					<% end %>
    		</li>
				<!-- <li class="last"><a href="subpage.html"><strong>お問い合わせ</strong><span>Contact</span></a></li> -->
				<li class="last">
    			<%= link_to contact_path, target: "_blank" do %>
					<strong>お問い合わせ</strong><span>Contact</span>
					<% end %>
    		</li>
			</ul>   
    </div>
  </nav>
  <!-- / メインナビゲーション -->
  
  <!-- コンテンツ -->
	<section>
  
  	<!-- メイン画像 -->
		<div id="mainBanner">
		<!--	<img src="images/mainImg2.jpg" width="709" height="140" alt=""> -->
		<%= image_tag 'service/mainImg2', :size => '922x140' %>
    	<div class="slogan">
				<h2>相続について</h2>
				<p>相続関連</p>
			</div>
		</div>
		<!-- / メイン画像 -->
    
    <section class="content">
    	<h3 class="heading">ホームページサンプル株式会社の取り組み</h3>
      <article>
		<!--	<img src="images/sample1.jpg" width="217" height="140" alt="" class="alignright border" /> -->
				<%= image_tag 'service/sample1.jpg', :size => '217x140' %>
			<h3>お問合せからご契約までの流れ</h3> </div></div> </div> </div> <div class="ex-leftSpacingTweak-spread-3s"> <div class="b-bPlacer-7s"> <div class="t0-b-wysiwyg" data-height-part=""> <p>お問合せからご相談、サービス提供開始までの流れをご説明いたします。</p> </div> </div> </div> </div> <div class="t0-b-frame__bd"><span><span><span></span></span></span> 
			<div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR"> <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> <div class="t0-b-twoColsMedia__row1col2"> <div class="outerHtml"></div> </div> <div class="clearfix"></div></div> 
			<div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> <div class="t0-b-twoColsMedia__row2col1 outerHtml"><div> <div class="b-bPlacer-3s"> 
			<div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"> <div> <div class="t0-b-layoutSplitter__div"> <div> <div class="t0-b-media t0-b-media--width-" data-height-part=""> 
			<div class="t0-b-media__media"> <span><span><span></span></span></span> <%= image_tag "inheritance/taiou1.jpeg", :size => '256x157' %> </div> 
			<div class="t0-b-media__caption"> <p> </p> </div> </div> </div> </div> </div> </div> </div> </div> </div> 
			<div class="t0-b-twoColsMedia__row2col2"> <div class="outerHtml"><div> <div class="b-bPlacer-4s"> 
			<div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-" data-height-part=""><div><div class="t0-b-lv4H-numIcon__iconPlacer">
				<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-1"></span>
				</div> <div class="t0-b-lv4H-numIcon__bd"> <h4 class="t0-b-lv4H-numIcon__h"> お問合せ </h4> </div> </div></div> </div> </div> 
				<div class="ex-leftSpacingTweak-"> <div class="b-bPlacer-7s"> <div class="t0-b-wysiwyg" data-height-part=""> 
				<p>お電話（03-5717-9301）または<a href="/contact">お問合せフォーム</a>よりご連絡ください。</p> </div> </div> </div> </div> </div> 
				<div class="clearfix"></div></div> <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> 
				<div class="t0-b-twoColsMedia__row3col2"> <div class="outerHtml"><div> <div class="b-bPlacer-4s"> 
				<div class="t0-b-arrow" data-height-part=""><span></span> </div> </div> </div> </div> </div> 
				<div class="clearfix"></div></div> <div data-switchable-key="contents.6.switchable" class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> 
				<div class="t0-b-twoColsMedia__row3col1 outerHtml"><div> <div class="b-bPlacer-3s"> 
				<div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"> <div> 
				<div class="t0-b-layoutSplitter__div"> <div> <div class="t0-b-media t0-b-media--width-" data-height-part=""> 
				<div class="t0-b-media__media"> <span><span><span></span></span></span> <%= image_tag 'inheritance/toiawase2.jpeg', :size => '256x157' %> </div> 
				<div class="t0-b-media__caption"> <p> </p> </div> </div> </div> </div> </div> </div> </div> </div> </div> 
				<div class="t0-b-twoColsMedia__row3col2"> <div class="outerHtml"><div> <div class="b-bPlacer-4s"> 
				<div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-" data-height-part=""><div> 
				<div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-2"></span></div>
				<div class="t0-b-lv4H-numIcon__bd"> <h4 class="t0-b-lv4H-numIcon__h"> ご相談内容の確認 </h4> </div> </div></div> </div> </div> 
				<div class="ex-leftSpacingTweak-"> <div class="b-bPlacer-7s"> <div class="t0-b-wysiwyg" data-height-part=""> 
				<p>お電話またはお問合せフォームからいただいたご相談内容をもとに、当日お持ちいただく資料等や日時をご案内いたします。</p> </div> </div> </div> </div> </div> 
				<div class="clearfix"></div></div> <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> 
				<div class="t0-b-twoColsMedia__row3col2"> <div class="outerHtml"><div> 
				<div class="b-bPlacer-4s"> <div class="t0-b-arrow" data-height-part=""><span></span> </div> </div> </div> </div> </div> 
				<div class="clearfix"></div></div> <div data-switchable-key="contents.9.switchable" class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> 
				<div class="t0-b-twoColsMedia__row3col1 outerHtml"><div> <div class="b-bPlacer-3s"> 
				<div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"> <div> 
				<div class="t0-b-layoutSplitter__div"> <div> <div class="t0-b-media t0-b-media--width-" data-height-part=""> 
				<div class="t0-b-media__media"> <span><span><span></span></span></span> <%= image_tag 'inheritance/cfdb23d8.jpg', :size => '256x157' %> </div> <div class="t0-b-media__caption"> <p> </p> </div> </div> </div> </div> </div> </div> </div> </div> </div> 
				<div class="t0-b-twoColsMedia__row3col2"> <div class="outerHtml"><div> <div class="b-bPlacer-4s"> 
				<div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-" data-height-part=""><div> 
				<div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-3"></span></div> 
				<div class="t0-b-lv4H-numIcon__bd"> <h4 class="t0-b-lv4H-numIcon__h"> ご相談 </h4> </div> </div></div> </div> </div> 
				<div class="ex-leftSpacingTweak-"> <div class="b-bPlacer-7s"> <div class="t0-b-wysiwyg" data-height-part=""> 
				<p>初回のご相談は、当事務所にてお願いいたします。<br/> お客さまのお話にじっくりと耳を傾け、時間をかけて丁寧にヒアリングいたします。</p> </div> </div> </div> </div> </div> 
				<div class="clearfix"></div></div> <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> 
				<div class="t0-b-twoColsMedia__row3col2"> <div class="outerHtml"><div> <div class="b-bPlacer-4s"> 
				<div class="t0-b-arrow" data-height-part=""><span></span> </div> </div> </div> </div> </div> 
				<div class="clearfix"></div></div> <div data-switchable-key="contents.12.switchable" class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> 
				<div class="t0-b-twoColsMedia__row3col1 outerHtml"><div> <div class="b-bPlacer-3s"> 
				<div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"> <div> 
				<div class="t0-b-layoutSplitter__div"> <div> <div class="t0-b-media t0-b-media--width-" data-height-part=""> 
				<div class="t0-b-media__media"> <span><span><span></span></span></span> <%= image_tag 'inheritance/95126b6a.jpg', :size => '256x157' %> </div> 
				<div class="t0-b-media__caption"> <p> </p> </div> </div> </div> </div> </div> </div> </div> </div> </div> 
				<div class="t0-b-twoColsMedia__row3col2"> <div class="outerHtml"><div> <div class="b-bPlacer-4s"> 
				<div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-" data-height-part=""><div> 
				<div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-4"></span></div> 
				<div class="t0-b-lv4H-numIcon__bd"> <h4 class="t0-b-lv4H-numIcon__h"> ご契約 </h4> </div> </div></div> </div> </div> 
				<div class="ex-leftSpacingTweak-"> <div class="b-bPlacer-7s"> <div class="t0-b-wysiwyg" data-height-part=""> 
				<p>当事務所では、お客さまにご納得いただけないままお手続きを進めるようなことは一切ございません。サービス内容や<br/> 料金等にご不明点がございましたら、お気軽に申し付けください。</p> </div> </div> </div> </div> </div> 
				<div class="clearfix"></div></div> <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> 
				<div class="t0-b-twoColsMedia__row3col2"> <div class="outerHtml"><div> <div class="b-bPlacer-4s"> 
				<div class="t0-b-arrow" data-height-part=""><span></span> </div> </div> </div> </div> </div> <div class="clearfix"></div></div> 
				<div data-switchable-key="contents.15.switchable" class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s"> 
				<div class="t0-b-twoColsMedia__row3col1 outerHtml"><div> <div class="b-bPlacer-3s"> 
				<div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"> <div> 
				<div class="t0-b-layoutSplitter__div"> <div> <div class="t0-b-media t0-b-media--width-" data-height-part=""> 
				<div class="t0-b-media__media"> <span><span><span></span></span></span> <%= image_tag 'inheritance/ae89953d.jpg', :size => '256x157' %> </div> 
				<div class="t0-b-media__caption"> <p> </p> </div> </div> </div> </div> </div> </div> </div> </div> </div> 
				<div class="t0-b-twoColsMedia__row3col2"> <div class="outerHtml"><div> <div class="b-bPlacer-4s"> 
				<div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-" data-height-part=""><div> 
				<div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-5"></span></div> 
				<div class="t0-b-lv4H-numIcon__bd"> <h4 class="t0-b-lv4H-numIcon__h"> サービス提供開始 </h4> </div> </div></div> </div> </div> <div class="ex-leftSpacingTweak-"> <div class="b-bPlacer-7s"> <div class="t0-b-wysiwyg" data-height-part=""> <p>契約書にご署名・ご捺印いただき、指定された料金の振り込みが確認できましたら、サービスの提供開始となります。</p> </div> </div> </div> </div> </div>
    	</article>
    </section>
    
    <section class="content">
			<h3 class="heading">ホームページサンプル株式会社の取り組み</h3>
      <article>
		<!--	  <img src="images/sample2.jpg" width="217" height="140" alt="" class="alignleft border" /> -->
			  <%= image_tag 'service/sample2.jpg', :size => '217x140' %>
				<p>革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
				<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす。革新的な技術で世の中を動かす。</p>
      </article>
		</section>
    
		<section class="content">
			<h3 class="heading">会社概要</h3>
      <article>
				<table class="table">
				<tr>
					<th>会社名</th>
					<td>濱村会計事務所</td>
				</tr>
				<tr>
					<th>設立</th>
					<td>平成10年1月10日</td>
				</tr>
				<tr>
					<th>事業内容</th>
					<td>税理・相続</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>〒158-0097 東京都世田谷区用賀３丁目１３−７</td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td>03-5717-9301</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td>info@example.com</td>
				</tr>
				</table>
    	</article>
		</section>
    

    
	</section>
	<!-- / コンテンツ -->

<!--	<aside id="sidebar">
       
		<h3 class="heading">革新的な技術</h3>
    <article>
			<ul>
				<li><a href="subpage.html">トップページ</a></li>
				<li><a href="subpage.html">サービス概要</a></li>
				<li><a href="subpage.html">弊社の取り組み</a></li>
				<li><a href="subpage.html">会社情報</a></li>
				<li><a href="subpage.html">報酬規定</a></li>
				<li><a href="subpage.html">お問い合わせ</a></li>
			</ul>
    </article>
    
		<h3 class="heading">ホームページサンプル</h3>
    <article>
			<ul>
				<li><a href="subpage.html">環境への取り組みについての説明ページです</a></li>
				<li><a href="subpage.html">ecoキャンペーン開催中です</a></li>
				<li><a href="subpage.html">オフィスの移転に関して</a></li>
				<li><a href="subpage.html">最新商品のご紹介</a></li>
				<li><a href="subpage.html">新規サービスを開始しました</a></li>
				<li><a href="subpage.html">環境賞受賞に関してはこちらをご確認ください</a></li>
			</ul>
     </article>
    
		<h3 class="heading">ホームページサンプル</h3>
		<article>
			<ul class="list">
				<li><a href="subpage.html"><img src="images/thumb1.jpg" width="42" height="42" alt=""></a>サンプル株式会社では最新技術と自然との調和を目指します。</li>
				<li><a href="subpage.html"><img src="images/thumb2.jpg" width="42" height="42" alt=""></a>サンプル株式会社では最新技術と自然との調和を目指します。</li>
				<li><a href="subpage.html"><img src="images/thumb3.jpg" width="42" height="42" alt=""></a>サンプル株式会社では最新技術と自然との調和を目指します。</li>
      </ul> 
		</article>
			<p><a href="subpage.html"><img src="images/side_banner.jpg" width="187" height="63" alt="" class="border" /></a></p> 
    
	</aside> -->
 
	<!-- フッター -->
	<footer id="footer">
		<!-- 左側 -->
		<div id="info" class="grid">
			<!-- ロゴ -->
			<div class="logo">
			<!--<a href="index.html"><img src="images/logo.png" width="60" height="60" alt="Sample site" /><p>濱村会計事務所<span>お悩み解決します</span></p></a>-->
			<%= link_to root_path, target: "_blank" do %>
			<%= image_tag 'top/logo.png', :size => '60x60', :alt => 'Sample site' %><p>濱村会計事務所<span>お悩み解決します</span></p>
			<% end %>
		</div>
			<!-- / ロゴ -->
			<!-- 電話番号+受付時間 -->
			<div class="info">
				<p class="tel"><span>電話:</span> 03-5717-9301</p>
				<p class="open">受付時間: 平日 AM 10:00 〜 PM 19:00</p>
			</div>
			<!-- / 電話番号+受付時間 -->
		</div>  
		<!-- / 左側 -->
		<!-- 右側 ナビゲーション -->
		<ul class="footnav">
			<li><a href="subpage.html">報酬規定</a></li>
			<li><a href="subpage.html">無料相談</a></li>
			<li><a href="subpage.html">サービス概要</a></li>
			<li><a href="subpage.html">会社情報</a></li>
			<li><a href="subpage.html">お問い合わせ</a></li>
            <li><a href="subpage.html">求人</a></li>
			<li><a href="subpage.html">サイトマップ</a></li>
		</ul>
		<!-- / 右側 ナビゲーション -->
	</footer>
	<!-- / フッター -->
	<address>Copyright(c) 2013 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>
</div>