// Place all the styles related to the consultation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.float_right {
    float: right;
}
.float_left {
    float: left;
    width: 60%;
}
